.imax-container {
    margin: 0 400px;
    background-color: black;
    color: white;
}

.imax-text-container {
    color: #02558b;
    text-align: center;
    padding: 10px 15px;
}

.imax-text-container h3,
.imax-text-container h1 {
    font-weight: 100;
}

.imax-text-buttons-container {
    display: flex;
    padding: 10px;
    gap: 20px;
    justify-content: center;
}

.imax-text-buttons-container h3:hover {
    text-decoration: underline;
}

.imax-screens-container {
    padding: 20px;
}

.imax-screens-container h2 {
    font-weight: 100;
    color: #02558b;
}