.trailer-slider-container {
    margin: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.slide {
    display: none;
    position: relative;
}

.slide.active {
    display: block;
}

.trailer-slider-card {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
